<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

.column {
  float: left;
  padding: 10px;
}

.left {
  width: 30%;
}

.right {
  width: 70%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
</style>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>

<h1>Remote Lidar Scanner</h1>

<p></p>
Database Size:<br>

{{ rows }} rows<br>
{{ size }} megabytes<br>
<p></p>

<div class="row">
  <div class="column">
<h3>Request Data:</h3>
<form>
    <input type="checkbox" id="rdorow" onchange="rrowbox(); rchange();" checked/>
        <label for="rdorow"> Request between rows</label><br>
    <label for="rsrow"> Start Row:</label>
        <input type="number" id="rsrow"/>
    <p><label for="rerow"> End Row: </label>
        <input type="number" id="rerow"/></p>

    <input type="checkbox" id="rdoangle" onchange="ranglebox(); rchange();"/>
        <label for="rdoangle"> Request between angles</label><br>
    <label for="rsangle"> Start Angle:</label>
        <input type="number" id="rsangle" disabled/>
    <p><label for="reangle"> End Angle: </label>
        <input type="number" id="reangle" disabled/></p>

    <input type="checkbox" id="rdodist" onchange="rdistbox(); rchange();"/>
        <label for="rdodist"> Request between distances</label><br>
    <label for="rsdist"> Start Distance:</label>
        <input type="number" id="rsdist" disabled/>
    <p><label for="redist"> End Distance: </label>
        <input type="number" id="redist" disabled/></p>

    Output Format:<br>
    <input type="radio" id="rgraph" name="rtype" value="graph" checked>
        <label for="rgraph">Graph</label><br>
    <input type="radio" id="rdat" name="rtype" value="data">
        <label for="rdat">Raw Data</label><br>

    <p id="rwarning" style="color:red; display:none;">Please select at least one parameter.</p>

    <input id="rquery" type="button" href="#" value="Query" onclick="rgetvals()"/>
  </form>
  </div>
  <div class="column">
<h3>Sample Data:</h3>
<form>
    <input type="radio" id="ssec" name="stype" value="seconds" onchange="sgettype()" checked>
        <label for="ssec">Seconds</label>
    <input type="radio" id="ssam" name="stype" value="samples" onchange="sgettype()">
        <label for="ssam">Samples</label><br>
    <label id="slabel" for="samount"> Number of Seconds:</label>
        <input type="number" id="samount"/><br>
    Output Format:<br>
    <input type="radio" id="snone" name="sret" value="none" checked>
        <label for="snone">None</label><br>
    <input type="radio" id="sgraph" name="sret" value="graph">
        <label for="sgraph">Graph</label><br>
    <input type="radio" id="sdat" name="sret" value="raw">
        <label for="sdat">Raw Data</label><br>
    <input id="squery" type="button" href="#" value="Sample" onclick="sgetvals()"/>
    <br>
</form>

<h3>Remove Rows:</h3>
<form>
    <p><label for="rmsrow"> Start Row:</label>
        <input type="number" id="rmsrow"/></p>
    <p><label for="rmerow"> End Row: </label>
        <input type="number" id="rmerow"/></p>
    <label for="pwd"> Password: </label>
        <input type="password" id="pwd" name="pwd" onkeyup="checkpwd()"><br>
    <input id="rmquery" type="button" href="#" value="Remove" onclick="rmgetvals()" disabled/>
    <p> {{ status }}</p>
</form>
  </div>
</div>



<script>

    function rrowbox() {
        var box = !(document.getElementById('rdorow').checked);
        document.getElementById('rsrow').disabled = box;
        document.getElementById('rerow').disabled = box;
    }

    function ranglebox() {
        var box = !(document.getElementById('rdoangle').checked);
        document.getElementById('rsangle').disabled = box;
        document.getElementById('reangle').disabled = box;
    }

    function rdistbox() {
        var box = !(document.getElementById('rdodist').checked);
        document.getElementById('rsdist').disabled = box;
        document.getElementById('redist').disabled = box;
    }

    function rchange(){
        var row = document.getElementById('rdorow').checked;
        var angle = document.getElementById('rdoangle').checked;
        var dist = document.getElementById('rdodist').checked;

        if (row || angle || dist){
            document.getElementById('rwarning').style.display = 'none';
            document.getElementById('rquery').disabled = false;
        }
        else {
            document.getElementById('rwarning').style.display = 'block';
            document.getElementById('rquery').disabled = true;
        }

    }

    function rgetvals() {
        var dorow = document.getElementById('rdorow').checked;
        var doangle = document.getElementById('rdoangle').checked;
        var dodist = document.getElementById('rdodist').checked;
        var type = document.getElementsByName('rtype');
        var link = '&dorow=' + dorow + '&doangle=' + doangle + '&dodist=' + dodist;

        if (type[0].checked)
            link = '/graph?' + link;
        else{
            link = '/read?' + link;
        }

        if (dorow){

            var rbegin = document.getElementById('rsrow').value;
            var rend = document.getElementById('rerow').value;

            link = link + '&rbegin=' + rbegin + '&rend=' + rend;
        }

        if (doangle){

            var abegin = document.getElementById('rsangle').value;
            var aend = document.getElementById('reangle').value;

            link = link + '&abegin=' + abegin + '&aend=' + aend;
        }

        if (dodist){

            var dbegin = document.getElementById('rsdist').value;
            var dend = document.getElementById('redist').value;

            link = link + '&dbegin=' + dbegin + '&dend=' + dend;
        }

        window.location = link;
    }

    function sgettype(){
        var type = "";
        var selection = document.getElementsByName('stype');
        if(selection[0].checked){
            type = "Seconds";
        }
        else if(selection[1].checked){
            type = "Samples";
        }
        document.getElementById('slabel').innerHTML = "Number of " + type;
    }

    function sgetvals() {
        var amount = document.getElementById('samount').value;
        var doreturn = document.getElementsByName('sret');
        var ssel = document.getElementsByName('stype');
        let rettype = 'none';
        let stype = '';

        if(ssel[0].checked){
            amount = amount * 2000;
        }

        if (doreturn[1].checked){
            rettype = 'grapb';
        }
        else if(doreturn[2].checked){
            rettype = 'raw';
        }

        window.location = '/start?amount=' + amount + '&return=' + rettype;
    }

    function checkpwd() {
        document.getElementById('rmquery').disabled = (document.getElementById('pwd').value.length == 0)
    }

    function rmgetvals() {
        var begin = document.getElementById('rmsrow').value;
        var end = document.getElementById('rmerow').value;
        var pwd = document.getElementById('pwd').value;
        window.location = '/remove?begin=' + begin + '&end=' + end + '&pwd=' + pwd;
    }


</script>

</body>

</html>
